bin/
.gradle/
.idea/
lib/
build/
out/
bin/
.DS_Store
.classpath
.project
.settings
yarn.lock
.DS_Store
__MACOSX
node_modules
dist

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
